<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Metro is a development-only dependency. The bundled release is fully offline. -->
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:node="remove" />
</manifest>
